NEXT_PUBLIC_SUPABASE_URL=https://gxksycbwylhkhihcvddw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4a3N5Y2J3eWxoa2hpaGN2ZGR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1NzI5ODQsImV4cCI6MjEwMDE0ODk4NH0.CPVAWx63D_tb1xvoN9wEE2xiNNrAn-PHyFXaDYT1f2k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4a3N5Y2J3eWxoa2hpaGN2ZGR3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDU3Mjk4NCwiZXhwIjoyMTAwMTQ4OTg0fQ.d27MXyhNNnd-_pPpVuHMYIt5MfkMXivY9AiE_lQB99g

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=C988MvmAxc4WWvUtIgspPf6j7SP0Uo/4HIHhkeLjf9M=

SPORTEASY_API_KEY=your-sporteasy-api-key
SPORTEASY_TEAM_ID=u14-26-27

NEXT_PUBLIC_VAPID_KEY=BMJ65RxAp9YlpYrFS1jKde5rXa31MfzuLN9fWY7hO6oq-40ncQ2SiorrwyqA2rEw6XW_ljjkiZeh1wNdQCov1hw
VAPID_PRIVATE_KEY=j8zy5jWyhc-rWVLkiiM-7MVNhZ2PBsMdPmSUzpOTy2Y
VAPID_EMAIL=mailto:cocob1908@gmail.com

RESEND_API_KEY=re_6UbQxQua_D29MQ4tsJKNdzNak6EC8ijWR
